html {
  font-size: 18px;
}

body {
  background: black;
  color: white;
  font-size: 1rem;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 24px;
  }
}


::selection {
  color: black;
  background-color: white;
}

.from {
  font-size: 1.5rem;
  width: 100%;
  height: 3.5rem;
  text-align: center;
  padding: 1rem 1rem 0rem 1rem;
  position: fixed;
  background-color: black;
  border-bottom: 2px solid;
  z-index: 999;
  cursor: pointer;
}

.container {
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 100vw;
  height: 100vh;

}

details {
  text-align: center;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

details .content {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
}

summary {
  width: 100%;
  list-style: none;
  list-style-type: none;
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
  border-bottom: 2px solid;
  padding-bottom: 1rem;
  opacity: .45;
  transition: opacity .25s ease;
}

summary::-webkit-details-marker {
  display: none;
}

summary::marker {
  content: '';
}

summary:hover {
  opacity: 1;
}

details[open] > summary {
  opacity: 1;
}

.notext {
  pointer-events: none;
  opacity: .25;
}

p {
  position: block;
  padding: 0.5rem;
  line-height: 1.4rem;
  word-break: keep-all;
  border-bottom: 2px dotted;
}

.content-inner {
  display: flex;
  flex-direction: column;
}

::marker {
  content: '';
}